/* CSS Document */
* {
    padding: 0;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    background-image: url('./bg.jpg');
    font-size: 16px;
}
#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    background-image: url('./bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.msg {
    margin: 0 auto;
    text-align: center;

    color: #fff;
    font-size: 16px;
}

h1 {
    font-size: 72px;
    font-weight: lighter;
    color: #fff;
}
#divResult h2 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

input[type='button'] {
    background: #c5062c;
    color: #fff;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

#co {
    background: #c5062c;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px 25px;
    position: absolute;
    left: 900px;
    top: 300px;
    cursor: pointer;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#co a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

#co:hover {
    background: #111;
}

#form {
    float: left;
    background: #c5062c;
    font-size: 19px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0;
    height: 48px;
    width: 500px;
    padding: 0 10px;
    color: #fff;
}

#form:focus {
    background: #111;
}

#gui {
    position: absolute;
    right: 20px;
}

#gui:hover {
    background: #111;
}

#traloi h1 {
    font-size: 30px;
    color: #000;
    font-weight: bold;
}
#traloi p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
#divResult2 p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
#divResult3 p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

#dialog-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
}

#dialog-box {
    background: #eee;
    width: 328px;
    position: absolute;
    z-index: 5000;
    display: none;
}

#dialog-box .dialog-content {
    text-align: left;
    padding: 10px;
    margin: 13px;
    color: #666;
    font-size: 15px;
}

#dialog-box .dialog-content p {
    font-weight: 600;
    margin: 0;
}

#dialog-box .dialog-content ul {
    margin: 10px 0 10px 20px;
    padding: 0;
    height: 100px;
}
#msb-nt {
    background: #c5062c;
    border: 0;
    width: 50px;
    margin-left: 200px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
#dialog-box .dialog-content a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
#lbNo {
    position: absolute;
    left: 700px;
    top: 300px;
    z-index: 9999999;
}
@media (max-width: 720px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    #dialog-overlay {
        width: 100vw !important;
    }
    #dialog-box {
        width: calc(100vw - 40px);
        top: 45% !important;
    }
    #bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .box-new {
        position: fixed;
    }
    #co {
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 15px;
        font-size: 14px;
        width: 50%;
    }
    #lbNo {
        left: 50%;
        transform: translateX(-50%);
        top: 400px;
    }
    .reveal-modal.large {
        width: calc(100vw - 40px);
        margin: 0;
        padding: 20px 10px;
    }
    #form {
        width: 100%;
    }
    .reveal-modal {
        position: fixed;
        left: 10px;
    }
    .box-new h1 {
        font-size: 40px;
    }
    .box-new h2 {
        font-size: 20px;
    }
}
